@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.footerdiv {
    margin-top: 1300px;
}

footer {

    width: 100%;
    color: #f5f5f5
}

#footer_content {

    background-color: #202020;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer_link i {
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover {
    opacity: 0.8;
}


#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#WhatsApp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer_link {
    color: #9c9797;
    transition: all 0.4s;
}

.footer-list .footer_link:hover {
    color: #9c9797;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #9c9797;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 4px;

}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #464646;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 2.3rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}


#input_group button :hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;

    }
}

a {

    text-decoration: none;
    color: #fff;

}

header {
    background-color: #202020;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;

}

.nome h1 {
    color: #ffffff;
}

.nav-list {
    display: flex;
    align-items: center;

}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;


}


.nav-item {
    margin: 0 15px;

}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    transition: 0.3s;

}

.nav-link:hover {
    text-shadow: 0 0 10px #9c9797, 0 0 20px #9c9797, 0 0 30px #9c9797;
    color: #9c9797;
}

.login-button button {
    border: none;
    background-color: #f39200;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a {
    text-decoration: none;
    color: #1a1186;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;

}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;

    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;

    }

    .mobile-menu .login-button button {
        width: 100%;

    }

    .open {
        display: block;
    }
}

.home {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1s ease-out forwards;
}


.centro {

    font-size: 3rem;
    color: #202020;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.descrição {

    position: absolute;
    margin-top: 100px;
    margin-left: 9%;
    font-size: 1.7rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1s ease-out forwards;
}

.h1 {
    color: #202020;
}

.h4 {

    color: #464646;
}

.span {

    color: #464646;
}

.perfil {

    position: absolute;
    margin-top: 80px;
    display: flex;
    margin-left: 73%;
    width: 310px;
    transition: transform 0.3s ease
}

.perfil:hover {
    transform: scale(1.1);
}

.home button {

    border: none;
    background-color: #202020;
    padding: 10px 15px;
    border-radius: 5px;

}


.descrição2 {
    position: absolute;
    margin-top: 100px;
    margin-left: 9%;
    font-size: 1.7rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1s ease-out forwards;
}



.slider-container {


    width: 60%;
    max-width: 400px;
    overflow: hidden;

    height: 600px;
    margin: 0;
    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 25%;



}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
        /* Começa deslocado */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Volta à posição original */
    }
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

.slide:hover {
    transform: scale(0.99);
}

.slider-container img {
    width: 100%;
    display: block;
}



.slide-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #202020;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.slide-button:hover {
    color: #9c9797;

}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.slide img {
    height: 100%;
    object-fit: cover;
    /* Ajusta a proporção da imagem ao contêiner */
}


.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.input {
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
    border-color: #202020;
}

.text {
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
    border-color: #202020;
}

.button {
    background-color: #202020;
    border: none;
    color: #fff;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.submit {

    background-color: #202020;
    border: none;
    color: #fff;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1s ease-out forwards;

}

.formulario {
    position: absolute;
    margin-top: 500px;
    margin-left: 9%;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1s ease-out forwards;
}

.formulario2 {
    position: absolute;
    margin-top: 850px;
    margin-left: 9%;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1s ease-out forwards;

}

@media screen and (max-width: 730px) {


    .perfil {


        position: absolute;
        margin-top: 50px;
        display: flex;
        margin-left: 29%;
        width: 190px;

    }



    .descrição {

        position: absolute;
        margin-top: 250px;
        margin-left: 50px;
        font-size: 1.3rem
    }



    .slider-container {
        width: 80%;
        max-width: 600px;
        overflow: hidden;
        height: 600px;
        margin-top: 600px;
        margin-left: -3%;
    }

    .prev,
    .next {
        font-size: 14px;
        padding: 8px;
    }


    .formulario {
        position: absolute;
        margin-top: 600px;
        margin-left: 7%;
    }

    .formulario2 {
        position: absolute;
        margin-top: 900px;
        margin-left: 7%;

    }

}